<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Studio Neura">
    <meta name="author" content="Laurent">
    <!--
    <meta http-equiv="refresh" content="10"> 
-->
    <link rel="icon" href="">
    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
