{% include 'header.min.html' %}
<script type='text/javascript' src="static/js/gauge.min.js"></script>


<script type="text/javascript" charset="utf-8">
    
    $(document).ready(function() {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/home')
        var gauge1 = Gauge(document.getElementById("gauge1"),{max: 100,value: 0});
        var gauge2 = Gauge(document.getElementById("gauge2"),{max: 100,value: 0});
        var gauge3 = Gauge(document.getElementById("gauge3"),{max: 100,value: 0});
        
        socket.on('displayText', function(text) {
            console.log("displaying text", text);
            $("#mainText").text("« "+text+" »");
        });
        
        socket.on('updateUI', function(data) {
            console.log("updated UI",data);
            gauge1.setValueAnimated(Math.round(data[0].value*100));
            $("#gauge1-name").text(data[0].name);
            gauge2.setValueAnimated(Math.round(data[1].value*100));
            $("#gauge2-name").text(data[1].name);
            gauge3.setValueAnimated(Math.round(data[2].value*100));
            $("#gauge3-name").text(data[2].name);
        });
        
        function resizeFont() {
          var fontsize = $('div#outer div').css('font-size');
          $('div#outer div').css('fontSize', parseFloat(fontsize) - 1);
          if ($('div#outer div').height() >= $('div#outer').height()) resizeFont();
        }
        
    });
    
    </script>
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.min.css" rel="stylesheet">
    <link href="static/css/piano.css" rel="stylesheet">
</head>

<body style="background:#222;">
        
<!--
    <video autoplay muted loop id="videoBG">
        <source src="static/rays.mp4" type="video/mp4">
    </video>
-->
    
    <div class="container text-center vertical-align">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </div>
    
<div class="flex-container">
    <div class="d-xl-flex flex-column text-center mt-10">
        <div class="p-2 m-5">
            <p id="mainText" style="color:white; font-family:typewriter; font-size:40px;">Appuyez pour commencer</p>
        </div>
    </div>
    <div class="d-flex flex-xl-column text-center fixed-bottom">
        <div class="p-2">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div id="gauge1" class="gauge-container one" style="float:none;margin:auto;"></div>
                    <span id="gauge1-name" style="font-size:30px; color:#3CBCDE;"></span>
                </div>
                <div class="col-sm-4 text-center">
                    <div id="gauge2" class="gauge-container two" style="float:none;margin:auto;"></div>
                    <span id="gauge2-name" style="font-size:30px; color:#CB6DFC;"></span>
                </div>
                <div class="col-sm-4 text-center">
                    <div id="gauge3" class="gauge-container three" style="float:none;margin:auto;"></div>
                    <span id="gauge3-name" style="font-size:30px; color:#3CDE9F;"></span>
                </div>
            </div>
        </div>
    </div> 
</div>
</body>
<style>
    
@font-face { font-family: typewriter; src: url('static/fonts/TravelingTypewriter.ttf'); } 
@font-face { font-family: manuscript; src: url('static/fonts/HoneyScript-SemiBold.ttf'); } 

#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.gauge-container.one {
    width: 40%;
  }
  .gauge-container.one > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.one > .gauge > .value {
    stroke: #3CBCDE;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.one > .gauge > .value-text {
    fill: #FFFFFF;
  }
.gauge-container.two {
    width: 40%;
  }
  .gauge-container.two > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.two > .gauge > .value {
    stroke: #CB6DFC;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.two > .gauge > .value-text {
    fill: #FFFFFF;
  }
.gauge-container.three {
    width: 40%;
  }
  .gauge-container.three > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value {
    stroke: #3CDE9F;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value-text {
    fill: #FFFFFF;
  }
</style>
</html>
