{% include 'header.min.html' %}
<script type='text/javascript' src="static/js/gauge.min.js"></script>


<script type="text/javascript" charset="utf-8">
    
    $(document).ready(function() {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/home')
        var gauge1 = Gauge(document.getElementById("gauge1"),{max: 100,value: 0});
        var gauge2 = Gauge(document.getElementById("gauge2"),{max: 100,value: 0});
        var gauge3 = Gauge(document.getElementById("gauge3"),{max: 100,value: 0});
        var availableCorpuses = [];
        var modalContent=[];
        var modalTimer=new Date().getTime(); // in ms
        
        socket.emit('getAvailableCorpuses');
        
        socket.on('availableCorpuses', function(data){
            availableCorpuses = data;
            modalContent = [new Object(),new Object(),new Object()];
            for (var i=0; i<3; i++) {
                // filter out the three choices already selected
                var nameList = availableCorpuses.names.filter(f => !availableCorpuses.selectedNames.includes(f));
                // put back the selected choice for this input in the middle of the list to ease navigation
                var middleIndex = Math.round(nameList.length/2);
                nameList.splice(middleIndex, 0, availableCorpuses.selectedNames[i]);
                //~ modalContent.push({names:nameList, selected:middleIndex});
                modalContent[i] = {names:nameList, selected:middleIndex, isOpen:false};
                $("#modalContent"+i.toString()).html(genCorpusModalHTML(nameList, middleIndex))
            }
        });
        
        socket.on('displayText', function(text) {
            //~ console.log("displaying text", text);
            $("#mainText").text("« "+text+" »");
        });
        
        socket.on('updateUI', function(data) {
            //~ console.log("updated UI",data);
            gauge1.setValueAnimated(Math.round(data[0].value*100));
            $("#gauge1-name").text(data[0].name);
            gauge2.setValueAnimated(Math.round(data[1].value*100));
            $("#gauge2-name").text(data[1].name);
            gauge3.setValueAnimated(Math.round(data[2].value*100));
            $("#gauge3-name").text(data[2].name);
        });
        
        socket.on('navigateCorpus', function(action){
            modalTimer=new Date().getTime() // resets timer
            console.log("navigateCorpus", action);
            var modalIndex;
            if (action.includes("A")) modalIndex = 0;
            if (action.includes("B")) modalIndex = 1;
            if (action.includes("C")) modalIndex = 2;
            if (modalContent[modalIndex].isOpen) navigateCorpusModal(action, modalIndex);
            else {
                for (var i=0; i<3; i++) { // make sure other modals are closed
                    $("#modal" +i.toString()).modal("hide");
                    modalContent[i].isOpen = false;
                }
                $("#modal" +modalIndex.toString()).modal(); // TODO : regen modal to ensure selected value is in the middle
                modalContent[modalIndex].isOpen = true;
            }
        });
        
        function genCorpusModalHTML(namesList, selectedIndex) {
            var htmlOutput="";
            for (i=0; i<namesList.length; i++) {
                if (i==selectedIndex) htmlOutput+='<a class="nav-link active" href="#">'+namesList[selectedIndex]+'</a>';
                else htmlOutput+='<a class="nav-link" href="#">'+namesList[i]+'</a>';
            }
            return(htmlOutput);
        }
        
        function navigateCorpusModal(action, modalIndex){
            console.log("navigateCorpusModal",action, modalIndex, modalContent);
            var indexSelected = modalContent[modalIndex].selected;
            const namesListLength = modalContent[modalIndex].names.length;
            // calc the index of the new item selected in the list, with round-robbin
            if (action.includes("next")){
                if (indexSelected > 0) indexSelected -= 1;
                else indexSelected = namesListLength -1;
            }
            if (action.includes("prev")) {
                if (indexSelected < namesListLength - 1) indexSelected += 1;
                else indexSelected = 0;
            }
            modalContent[modalIndex].selected = indexSelected;
            $("#modalContent"+modalIndex.toString()).html(genCorpusModalHTML(modalContent[modalIndex].names, indexSelected));            
        }
        
        window.setInterval(function(){modalWatchdog();}, 500);
        
        function modalWatchdog() {
            var currentTime = new Date().getTime();
            if (currentTime - modalTimer > 2000) {
                for (var i=0; i<3; i++) {
                    if (modalContent[i].isOpen) {
                        $("#modal" +i.toString()).modal('hide'); 
                        modalContent[i].isOpen = false;
                        const newCorpusName = modalContent[i].names[modalContent[i].selected];
                        console.log("changed corpus to "+newCorpusName);
                        socket.emit("corpusChanged",{index:i, name:newCorpusName});
                    }
                }
            }
        }
        
        function resizeFont() {
          var fontsize = $('div#outer div').css('font-size');
          $('div#outer div').css('fontSize', parseFloat(fontsize) - 1);
          if ($('div#outer div').height() >= $('div#outer').height()) resizeFont();
        }
        
    });
    
    </script>
    
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.min.css" rel="stylesheet">
    <link href="static/css/piano.css" rel="stylesheet">
</head>

<body style="background:#222;">
        
<!--
    <video autoplay muted loop id="videoBG">
        <source src="static/rays.mp4" type="video/mp4">
    </video>
-->
    
    <div class="container text-center vertical-align">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </div>
    
<div class="flex-container">
    <div class="d-xl-flex flex-column text-center mt-10">
        <div class="p-2 m-5">
            <p id="mainText" style="color:white; font-family:typewriter; font-size:40px;">Appuyez pour commencer</p>
        </div>
    </div>
    <div class="d-flex flex-xl-column text-center fixed-bottom">
        <div class="p-2">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div id="gauge1" class="gauge-container one" style="float:none;margin:auto;"></div>
                    <span id="gauge1-name" style="font-size:30px; color:#3CBCDE;"></span>
                </div>
                <div class="col-sm-4 text-center">
                    <div id="gauge2" class="gauge-container two" style="float:none;margin:auto;"></div>
                    <span id="gauge2-name" style="font-size:30px; color:#CB6DFC;"></span>
                </div>
                <div class="col-sm-4 text-center">
                    <div id="gauge3" class="gauge-container three" style="float:none;margin:auto;"></div>
                    <span id="gauge3-name" style="font-size:30px; color:#3CDE9F;"></span>
                </div>
            </div>
        </div>
    </div> 
    
</div>

<div class="modal fade" id="modal0" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="background:#222;">
                <div class="nav flex-column nav-pills pill-1">
                    <div id="modalContent0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="background:#222;">
                <div class="nav flex-column nav-pills pill-2">
                    <div id="modalContent1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            

<div class="modal fade" id="modal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="background:#222;">
                <div class="nav flex-column nav-pills pill-3">
                    <div id="modalContent2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            
</body>
<style>
    
@font-face { font-family: typewriter; src: url('static/fonts/TravelingTypewriter.ttf'); } 
@font-face { font-family: manuscript; src: url('static/fonts/HoneyScript-SemiBold.ttf'); } 

#videoBG {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.gauge-container.one {
    width: 40%;
  }
  .gauge-container.one > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.one > .gauge > .value {
    stroke: #3CBCDE;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.one > .gauge > .value-text {
    fill: #FFFFFF;
  }
.gauge-container.two {
    width: 40%;
  }
  .gauge-container.two > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.two > .gauge > .value {
    stroke: #CB6DFC;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.two > .gauge > .value-text {
    fill: #FFFFFF;
  }
.gauge-container.three {
    width: 40%;
  }
  .gauge-container.three > .gauge > .dial {
    stroke: #22222200;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value {
    stroke: #3CDE9F;
    stroke-width: 10;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value-text {
    fill: #FFFFFF;
  }
  
</style>
</html>
