{% include 'header.min.html' %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
		{% include '%s' % layout %}
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/home');
        const wavPath = "static/audio/";
        const picsPath = "static/pics/";
        audioObj = [];
        
        for (var i=0; i<sounds.length; i++) {
          var obj = document.createElement("audio");
		  obj.src = wavPath+sounds[i].wav;
		  obj.volume = 1.0;
		  obj.autoPlay = false;
		  obj.preLoad = true;
		  obj.controls = false;
		  obj.id = sounds[i].id
		  audioObj.push(obj);
		  //~ addButton(i);
		}
		addButtons();
		
		function addButton(index){
			htmlOutput = '<button type="button" class="btn btn-default" style="width:150px;height:150px;" data-index='+index+'>'
			if (sounds[index].img) htmlOutput+= '<img src="'+picsPath+sounds[index].img+'" data-index='+index+'>'
			else htmlOutput += "<h1>"+sounds[index].HRname+"</h1>";
			htmlOutput += '</button>';
			$("#triggers").append(htmlOutput);
		}
		
		function addButtons(){
			const multicol = sounds.length > 4;
			for (var index=0; index < sounds.length; index++) {
				htmlOutput="";
				//~ if (multicol && index % 4 === 0) htmlOutput+='<div class="row">'
				htmlOutput += '<button type="button" class="btn btn-default" style="width:150px;height:150px;" data-index='+index+'>'
				if (sounds[index].img) htmlOutput+= '<img src="'+picsPath+sounds[index].img+'" data-index='+index+' style="max-width:120px;max-height:120px";>'
				else htmlOutput += "<h1>"+sounds[index].HRname+"</h1>";
				htmlOutput += '</button>';
				//~ if (multicol && (index % 5 === 0 || index === sounds.length -1)) htmlOutput+='</div>';
				$("#triggers").append(htmlOutput);
			}
		}
		
		$('#triggers').on('mousedown', 'button', function(event){
			index =  $(event.target).attr("data-index");
			socket.emit("keydown",sounds[index].id);
			if (!noteDuration && !audioObj[index].ended) { // still playing
				audioObj[index].pause();
				audioObj[index].fastSeek(0);
			}
			audioObj[index].play();			
		});
	
		$('#triggers').on('mouseup', 'button', function(event){
			index =  $(event.target).attr("data-index");
			socket.emit("keyup",sounds[index].id);
			if (noteDuration) {
				audioObj[index].pause();
				audioObj[index].fastSeek(0);
			}
		});
        
        socket.on('weightUpdate', function(data) {
           console.log("received markov weights", data);
           var iframe = document.getElementById('markovVisualisation');
           if (iframe == null) return;
           var iWindow = (iframe).contentWindow;
           document.getElementById('markovVisualisation').contentWindow.location.reload();
           iWindow.postMessage({"weights":data.weights, "names":data.names}, 'http://localhost:8080');
        });
        
        socket.on('play', function(name) {
			const player = audioObj.find(e => e.id === name)
			//~ console.log("playing sound "+player.id);
			player.play();	
		});
		
		socket.on('stop', function(name) {
			const player = audioObj.find(e => e.id == name)
			//~ console.log("stopping sound "+player.id);
			if (noteDuration) {
				player.pause();
				player.fastSeek(0);
			}
		});

    });
    
    </script>
    <style>
        .btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
			background-color: #222 !important;
			border-color:  #222 !important;
		}
    </style>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.min.css" rel="stylesheet">
</head>

<body style="background:#222;">
    <div class="container-fluid" style="max-height:100%; max-width:100%;margin-top:0px; position:absolute; bottom:0;">
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                     {{ message }}
                  {% endfor %}
               {% endif %}
            {% endwith %}

            <iframe id="markovVisualisation"
                src="static/markov/index.html" style="width: 97vw;height:78vh;position: relative;display:block;margin-top:0px;" frameborder="0" allowfullscreen>
            </iframe>

                <section id="main" class="text-center">
					<div id="triggers" class="btn-group btn-group-justified" style="max-width:60%; margin:0 auto"></div>
				</section>
	</div>
</body>
</html>
